<!-- About Section -->
<section id="about" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>About Me</h2>
                <p>Hello! I'm Ansh, a passionate web developer with a keen eye for design and a love for creating seamless user experiences. With a background in Computer Programming, I bring a unique blend of skills to every project I undertake.</p>
                <p>My journey in web development started at Georgian College May 2022. I'm constantly exploring new technologies and keeping up with industry trends to deliver modern, innovative solutions.</p>
                <p>When I'm not coding, you can find me enjoying a game of basketball or tennis, I'm also a gym enthusiast, committed to a healthy lifestyle. These activities keep me physically fit and energized for web development challenges. I believe that every line of code has the potential to make a positive impact, and I'm committed to crafting elegant solutions that not only meet the technical requirements but also exceed user expectations.</p>
            
            </div>
            <div class="col-lg-6">
                <img src="https://avatars.githubusercontent.com/u/14811968?v=4" alt="Profile Image" class="img-fluid rounded-circle">
            </div>
        </div>
    </div>
</section>