
<br>
<br>

    <div class="jumbotron name text-center" style="background-color: rgba(255, 255, 255, 0.8);">
                <img src="https://avatars.githubusercontent.com/u/14811968?v=4" alt="Profile Image" class="img-fluid rounded-circle">
    <h1 class="display-4">Ansh Baweja</h1>
    <p class="lead">Web Developer</p>
    
            <p>I create interactive websites that are unique, visually appealing and contain engaging content written specifically for web audiences. Web creation is more than just coding. I work with the 'bigger picture' in mind, that includes a concerted focus on performance, aesthetics, user experience and interaction, social media engagement and web presence optimization.</p>
</div>