<!-- Projects Section -->
    <section id="projects" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Projects</h2>
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <div class="rectangle-like"> 
                        <p>Project1</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Fit-Fuel</h5>
                            <p class="card-text">Collaborated with fitness experts and nutritionists to define personalized nutrition plans. Designed a user-friendly FitFuel interface with ASP.NET and MVC. Implemented meal customization and SQL Server database. Conducted thorough testing for bug resolution.</p>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <div class="rectangle-like"> 
                        <p>Project2</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Portfolio</h5>
                            <p class="card-text">"Designed and developed a professional portfolio website using Express.js, showcasing a curated selection of projects, skills, and personal information. Implemented responsive design for seamless accessibility across various devices " <br>.</p>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card">
                     <div class="rectangle-like"> 
                            <p>Project3</p>
                     </div>
                        <div class="card-body">
                            <h5 class="card-title">SwiftVibe</h5>
                            <p class="card-text">Developed a dynamic iOS application using Swift, delivering a seamless and user-friendly experience. Leveraged the power of Swift's modern syntax and extensive libraries to create efficient and responsive features. <br> <br></p>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>